body {
    text-align: ;
}

h1 {
    font-size: ;
    font-family: ;
    font-weight: ;
}

#app {
    background-color: ;
}

#game{
    background-color:;
}

.line {
    height: ;
    background-color: #;
    width: ;
    margin:  ;
}
